<div class="center hero-unit">
  <h1>Welcome to YAKISS Project</h1>

  <h2>
    Let's try our awesome app for Android and start to train yourself.<br /><br />
    <a href="#">Take a look of our app</a>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>