<footer class="footer">
  <small>
    A project created by
    <a href="http://www.sdu.dk/en">Syddansk Universitet</a> students.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>